/* Base Styles */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

nav ul {
    list-style: none;
    list-style-image: none;
 }
 
 nav a {
    text-decoration: none;
 }

 img{
    max-width: 100%;
 }